/AnsiConsole_Doc.txt
/.vs/LibraryManagementSystem.slnx/FileContentIndex/65ac01f4-53bd-4bc6-a411-f957ddd67833.vsidx
/.vs/LibraryManagementSystem/DesignTimeBuild/.dtbcache.v2
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/LibraryManagementSystem/CopilotIndices/18.4.111.64248/SemanticSymbols.db
/obj/project.nuget.cache
/.vs/ProjectEvaluation/librarymanagementsystem.strings.v10.bin
/.vs/ProjectEvaluation/librarymanagementsystem.projects.v10.bin
/bin/Debug/net10.0/LibraryManagementSystem.pdb
*.bin
/obj/Debug/net10.0/LibraryManagementSystem.pdb
/obj/Release/net10.0/LibraryManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net10.0/ref/LibraryManagementSystem.dll
/obj/Debug/net10.0/LibraryManagementSystem.csproj.CoreCompileInputs.cache
*.BuildWithSkipAnalyzers
/bin/Debug/net10.0/LibraryManagementSystem.dll
/obj/Release/net10.0/LibraryManagementSystem.AssemblyInfoInputs.cache
/obj/Release/net10.0/LibraryManagementSystem.csproj.AssemblyReference.cache
/obj/Release/net10.0/LibraryManagementSystem.assets.cache
/obj/Debug/net10.0/refint/LibraryManagementSystem.dll
/obj/Debug/net10.0/LibraryManagementSystem.AssemblyInfoInputs.cache
/obj/Debug/net10.0/LibraryManagementSystem.dll
/bin/Debug/net10.0/LibraryManagementSystem.exe
/.vs/LibraryManagementSystem.slnx/FileContentIndex/f7848d6a-27f8-4b89-8fac-62887a90e19b.vsidx
/.vs/LibraryManagementSystem/v18/.futdcache.v2
/.vs/LibraryManagementSystem/v18/.suo
/.vs/LibraryManagementSystem.slnx/v18/.wsuo
/.editorconfig
/.vs/LibraryManagementSystem.slnx/FileContentIndex/909abcd3-3aec-4666-9dcb-b3574297c644.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/ab3a3624-ebd8-4dcc-a719-3ccfc2652595.vsidx
/obj/Release/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/obj/Debug/net10.0/apphost.exe
/.vs/LibraryManagementSystem/CopilotIndices/18.4.111.64248/CodeChunks.db
/.vs/LibraryManagementSystem.slnx/FileContentIndex/da7f70bb-f4ed-4c60-be44-8be442a4f751.vsidx
/.vs/LibraryManagementSystem.slnx/v18/DocumentLayout.json
/.vs/LibraryManagementSystem.slnx/FileContentIndex/d04ac82f-0dd1-4e11-8876-d1e1134e9857.vsidx
/.vs/LibraryManagementSystem/v18/DocumentLayout.backup.json
/.vs/LibraryManagementSystem/FileContentIndex/efded06d-1b15-46ad-9f37-7ce9aed7f589.vsidx
/.vs/LibraryManagementSystem.slnx/v18/DocumentLayout.backup.json
/.vs/LibraryManagementSystem/v18/DocumentLayout.json
/.vs/LibraryManagementSystem/FileContentIndex/c35b1767-d86e-4238-a826-f072fc24a3aa.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/07cf04bc-903f-4669-94c5-9fa25fc2b20e.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/f1a3c213-aa82-40ba-859e-2e8b180e4d1f.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/74b92b3c-07d7-4581-9b7e-8691afbf76f8.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/782f6055-e826-4324-a12f-6ebb548e9f53.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/6acebb6b-595c-415e-a123-a8e997d11cf9.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/746c563b-60b4-422c-b37d-d0fe17f17f71.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/f7bfd044-bddf-44f4-ae27-ba06a729bbc2.vsidx
/.vs/LibraryManagementSystem/FileContentIndex/14604744-3d27-48d3-a759-c5a229dc3959.vsidx
